<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FCA12B"/>
    <meta rel="manifest" href="/manifest.json">
    <meta name="description" content="Personal blog site of Amrit Pandey. Amrit Pandey is a code enthusiast and software developer." />

    <meta property="og:title" content="Spanit.xyz" />
    <meta property="og:url" content="http://spanit.xyz/" />
    <meta property="og:description" content="Personal blog site of Amrit Pandey. Amrit Pandey is a code enthusiast and software developer.">

    <title>spanit.xyz | Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Source+Sans+Pro:300,400,400i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="/src/styles/main.css">
</head>
<body>
<div class="wrapper">
    <header>

        <div class="header-logo">
            <a href="/" class="brand">
                <img src="/logo.png" alt="">
            </a>
        </div>

        <div class="collapse-btn" id="collapse-btn">
            <a href="#">
                <img src="/src/img/ham-btn-icon.svg" alt="">
            </a>
        </div>

        <nav class="main-nav" id="main-nav">
            <a href="/blog" class="nav-item selected">Blog</a>
            <a href="/portfolio" class="nav-item">Portfolio</a>
            <a href="/about" class="nav-item">About</a>
            <a href="/contact" class="nav-item">Contact</a>
        </nav>

    </header>


    <!--IGNORE SECTION ABOVE THIS-->



    <section id="main-content" class="main-content">
        <div class="article" id="article">
            <div class="title">
                <h1 id="article-title">Make your own minimalist blog using just HTML and CSS</h1>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Distinctio nostrum praesentium quia ut vero
                vitae voluptate. Animi aspernatur corporis id in
                inventore nihil, quae quaerat sed similique tempore
                vero vitae.</p>

            <h3 class="subtitle">Where to begin?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Distinctio nostrum praesentium quia ut vero
                vitae voluptate. Animi aspernatur corporis id in
                inventore nihil, quae quaerat sed similique tempore
                vero vitae.</p>

            <div class="image">
                <img src="default.jpg" alt="">
                <div class="caption">
                    Caption of the image
                </div>
            </div>

            <blockquote>
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Aliquam cum eius eos
                ex hic maxime,
            </blockquote>



        </div>







        <div class="side-col">

            <div class="metadata tile">
                <div class="info">
                    <img class="author-img" src="/src/img/profile-photo.JPG" alt="Author Name">
                    <div class="author-info">
                        <span class="name"><a href="#">Author Name</a></span>
                        <span class="date">26th January, 2018</span>
                    </div>

                </div>
                <div class="tags">
                    <li class="tag">Web</li>
                    <li class="tag">Mobile</li>
                    <li class="tag">tech</li>
                </div>
            </div>





            <!--IGNORE SECTION BELOW THIS-->

            <div class="recent-posts tile">
                <h4>Recent Posts</h4>
                <ul></ul>
            </div>


            <div class="share tile">
                <h4>Share</h4>
                <div class="share-icons">
                    <a href="" id="twitter-share" class="icon" target="_blank">
                        <img src="/src/img/twitter.svg" alt="Twitter Share">
                    </a>
                    <a href="" id="facebook-share" class="icon" target="_blank">
                        <img src="/src/img/facebook.svg" alt="Facebook Share">
                    </a>
                </div>
            </div>

        </div>

    </section>





</div>

<footer>
    <div class="author-note">
        Made by <a href="https://twitter.com/amritpandeyy">@amritpandeyy</a><br>
        Copyrights &copy; <div class="footer-date"></div> Amrit Pandey
    </div>
    <div class="social-access">
        <a href="https://github.com/a-pandey" class="access">
            <img src="/src/img/github-icon.svg" alt="">
        </a>
        <a href="https://twitter.com/amritpandeyy" class="access">
            <img src="/src/img/twitter-icon.svg" alt="">
        </a>
    </div>
</footer>


<script src="/src/scripts/jquery.min.js"></script>
<script src="/src/scripts/main.js"></script>
<script>

</script>
</body>
</html>