
%btn{
  text-decoration: none;
  color: $text-color;
  border: 1.5px solid $prime-color;
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  background: $text-color-inverse;
  &:hover{
    background: $prime-color;
    color: $text-color-inverse;
  }
  &.wide{
    background: $prime-color;
    color: $text-color-inverse;
    display: block;
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
  }
}

%panel{
  background: $prime-color;
  color: #f9f9f9;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
}
