$prime-color: #FCA12B;
$text-color: #444;
$text-color-inverse: #fefefe;

$sans-serif : 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Lora', 'Times New Roman', Times, serif; 