.main-content{
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .article,
  .posts{
    width: 100%
  }
  .side-col{
    width: 100%
  }
  @media only screen and(min-width: 840px){
    flex-direction: row;
    padding: 1rem;
    .article,
    .posts{
      width: 70%;
    }
    .side-col{
      width: 30%;
      padding-left: 1rem;
    }
  }
}