.posts{
  .list{
    list-style: none;
    padding: 0;
    margin: 0;
    .post{
      padding: 1rem 1rem 1.5rem 1rem;
      background: #fefefe;
      margin: 1rem;
      border: 1px solid #ddd;
      .heading{
        margin: 0 0 0.5rem 0;
      }
      .description{
        font-size: 1.1rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }
      .read-btn{
        @extend %btn;
        padding: 0.5rem 0.75rem;
        margin: 0;
      }
    }
  }
  @media only screen and (min-width: 840px){
    .list{
      .post{
        margin: 0 0 1rem 0;
        border-left: 1rem solid $prime-color;
      }
    }
  }
}